img {
  width: 80px;
  height: 80px;
}

.navbar-dark {
  background-color: #000000db;
}

.search-field {
  background-color: white;
  font-size: 110%;
}

.fa-search {
  font-size: 120%;
}

a.active {
  color : #0D47A1 !important;
}
