<nav class="navbar navbar-expand-lg navbar-dark">
  <a routerLink="/"><img class="navbar-brand" src="assets/logo.jpeg"></a>
  <ul class="nav navbar-nav mr-auto"></ul>
  <ul class="navbar-nav navbar-right">
    <li class="nav-item m-2">
      <div class="form-inline mt-1">
        <input class="form-control search-field" placeholder="Search..." #searchInput *ngIf="searchToggle"
               (keyup.enter)="search(searchInput.value)">
        <button class="btn btn-secondary bg-light text-dark"
                (click)="showSearchField()"><i class="fas fa-search"></i></button>
      </div>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link h4 font-weight-bolder" *ngIf="!isLoggedIn"
         routerLink="/join" routerLinkActive="active">Join</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link h4 font-weight-bolder" *ngIf="!isLoggedIn"
         routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link h4 font-weight-bolder cursor-like" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link h4 font-weight-bolder" *ngIf="isLoggedIn"
         routerLink="/user-page" routerLinkActive="active">My Page</a>
    </li>
  </ul>
</nav>
