<div class="forms">
  <form class="join pure-form pure-form-stacked"
        (click)="resetCredentials('join')"
        (keydown)="resetCredentials('join')"
        [formGroup]="joinForm"
        (ngSubmit)="onJoinSubmit()">
    <fieldset>
      <div [style.opacity]="showPart === 'join' ? '1': '0.4'">
        <label for="username-join">Username</label>
        <input type="text" id="username-join" placeholder="Username" formControlName="username-join">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Email" formControlName="email">
        <label for="password-join">Password</label>
        <input type="password" id="password-join" formControlName="password-join">
        <label for="password-confirm">Confirm Password</label>
        <input type="password" id="password-confirm" formControlName="password-confirm">
        <button type="submit" class="pure-button pure-button-secondary"
                [disabled]="!joinForm.valid">Join</button>
      </div>
    </fieldset>
  </form>
  <form class="login-form pure-form pure-form-stacked"
        (click)="resetCredentials('login')"
        (keydown)="resetCredentials('login')"
        [formGroup]="loginForm"
        (ngSubmit)="onLoginSubmit()">
    <fieldset>
      <div [style.opacity]="showPart === 'login' ? '1': '0.4'">
        <label for="username-login">Username</label>
        <input type="text" id="username-login" placeholder="Username" formControlName="username-login">
        <label for="password-login">Password</label>
        <input type="password" id="password-login" formControlName="password-login">
        <button type="submit" class="pure-button pure-button-secondary"
                [disabled]="!loginForm.valid">Login</button>
      </div>
    </fieldset>
  </form>
</div>
