body {
  background-image: url("assets/background1.jpg");
  color: white;
}

input {
  color: #191919;
}

.tooltip-message {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-message .tooltip-text {
  font-size: 60%;
  visibility: hidden;
  width: 125px;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  background: #f7f7f7;
  letter-spacing: 1px;

  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-message:hover .tooltip-text {
  visibility: visible;
  z-index: 2;
}

#toast-container > div {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-custom {
  background-color: #0D47A1;
}

.text-custom {
  color: #0D47A1;
}
