.search-result {
  min-height: 1500px;
  max-height: 1500px;
  overflow-y: scroll;
}

.search-item {
  font-size: 140%;
  margin: 20px;
  padding: 20px;
  background: #eeeeee0d;
}

.search-item:hover {
  color: #919191;
}

.message {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 400%;
  letter-spacing: 2px;
}
